
.contacts {
    height: 50vh;
    background-color: #fbd5ff;
    border: 1px solid;
}

.title {
    background-color: #eeeef5;
}

.block {
    display: flex;
    flex-direction: column;
}

.contactForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactForm input, .contactForm textarea {
    width: 100%;
}


.submitBtn {
    padding: 10px 20px;
    background-color: #d4ffc0;
}

@media screen and (max-width: 560px) {
    .contactForm {
        width: 100%;
    }

}