
.contacts {
    height: 100vh;
    background-color: #fbd5ff;
    border: 1px solid;
}

.title {
    background-color: #eeeef5;
}

.block {
    display: flex;
    flex-direction: column;
}

.formBlock {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}