@import "../common/styles/sass/variables";

.skillsBlock {
  min-height: 90vh;
  background-color: $bgColor;
  border: 1px solid;
  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    .skills {
      list-style: none;
      border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      li {
        width: 33%;
      }
    }
  }
}


