.mainBlock {
    height: 100vh;
    background-color: #373b40;
}

.container {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text {
    width: 300px;
    background: #373b40;
    z-index: 80;
}

.text h1 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    font-weight: 800;
    color: #fff;
    background: #373b40;
    font-size: 4.2vw;
    word-break: break-word;
}
.text span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #fff;
}
.text p {
    font-family: 'Poppins', sans-serif;
    color: #68e0cf;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
}

.hTitle {
    margin: 40px 0 0 -15vw;
    padding: 4.2vw;
    font-size: 4.2vw;
    line-height: 1.4;
    font-weight: 800;
    color: #fff;
    background: #373b40;
    word-break: break-word;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    border-radius: 264px;
    -moz-border-radius: 264px;
    -webkit-border-radius: 264px;
    -khtml-border-radius: 264px;

}

.description {
    font-family: 'Poppins', sans-serif;
    margin: 0 0 30px;
    font-size: 14px;
    color: #fff;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #f7f7f7;
}