.mainBlock {
    height: 100vh;
    background-color: #373b40;
}

.container {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text {
    width: 300px;
    background: #373b40;
    z-index: 80;
}

.text h1 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    font-weight: 800;
    color: #fff;
    background: #373b40;
    font-size: 4.2vw;
    word-break: break-word;
}
.text span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #fff;
}
.text p {
    font-family: 'Poppins', sans-serif;
    color: #68e0cf;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
}

.hTitle {
    margin: 40px 0 0 -15vw;
    padding: 4.2vw;
    font-size: 4.2vw;
    line-height: 1.4;
    font-weight: 800;
    color: #fff;
    background: #373b40;
    word-break: break-word;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    border-radius: 264px;
    -moz-border-radius: 264px;
    -webkit-border-radius: 264px;
    -khtml-border-radius: 264px;

}

.startedContent{
    padding-left: 8%;
    max-width: 500px;
}

.btnContact {
    padding: 0 35px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    height: 64px;
    line-height: 62px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    background: 0 0;
    outline: none;
    border: 1px solid #585d65;
    cursor: pointer;
    border-radius: 64px;
    -moz-border-radius: 64px;
    -webkit-border-radius: 64px;
    -moz-transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
    -webkit-transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
    -o-transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
}

.animatedBtn {

    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.animatedBtn span {
    position: relative;
    overflow: hidden;
    display: block;
    text-shadow: 0 16px 0 #68e0cf;
}


.animatedBtn span em {
    transition-delay: .025s;
    min-width: 5px;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    backface-visibility: hidden;
    transition: transform .3s ease;
    -moz-transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
    -o-transition: transform .3s ease;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
}

.description {
    font-family: 'Poppins', sans-serif;
    margin: 0 0 30px;
    font-size: 14px;
    color: #fff;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #f7f7f7;
}