
.container {
    margin: 0;
    position: relative;
    overflow: hidden;
    background: #373b40;
}

.wrapper {
    position: relative;
    margin-top: 50px;
    margin-left: 45%;
    margin-right: 92px;
}

.wrapper:before {
    content: '';
    position: fixed;
    left: 45%;
    right: 92px;
    top: 0;
    height: 40px;
    background: #373b40;
    z-index: 13;
}

.rootApp {
    display: flex;
}

.frontImg {
    position: fixed;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
}

.circle {
    clip-path: circle(640px at 10px 430px);
}

@media screen and (max-width: 1280px) {
    .wrapper {
        margin-left: 30%;
    }

    .frontImg {
        width: 30%;
    }

    .circle {
        clip-path: circle(550px at 10px 430px)
    }
}

@media screen and  (max-width: 992px) {
    .wrapper {
        position: relative;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .frontImg {
        position: relative;
        width: 100%;
        height: 70vh;
    }
    .circle {
        clip-path: circle(100% at 50% 0%);
    }
}


.backgroundImg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

