
.footer {
    height: 35vh;
    background-color: #d3cdb7;
    border: 1px solid;
    padding-top: 30px;
}

.block {
    display: flex;
    flex-direction: column;
}

.title {
    background-color: #eeeef5;
}

.iconBlock {
    border: 1px solid;
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.icon {
    height: 40px;
    width: 40px;
    background-color: #d4ffc0;
}